<div class="reduced-font">
  <div>
    <carousel interval="6000">
      <slide>
        <img src="assets/images/demo/banner1.png" alt="ASP.NET" class="img-fluid" />
        <div class="carousel-caption">
          <p>
            بنك قناة السويس

            بنك قناة السويس هو بنك مصري، يعد شركة مساهمة مصرية، تأسس عام 1978، بموجب القانون رقم 43 الصادر عام 1974، وهو أحد بنوك القطاع الخاص في مصر، يقدم البنك خدماته المالية لعملائه من الأفراد والشركات في مصر ومن خلال فرعه في مدينة طرابلس الليبية، يبلغ رأس مال البنك 2 مليار جنيه مصري، وبلغت أرباحه في نهاية عام 2015 حوالي 195 ... ويكيبيديا
            https://ar.wikipedia.org/wiki/%D8%A8%D9%86%D9%83_%D9%82%D9%86%D8%A7%D8%A9_%D8%A7%D9%84%D8%B3%D9%88%D9%8A%D8%B3
          </p>
        </div>
      </slide>
     
    </carousel>
  </div>


  <div class="row">
    
  
   
</div>
