<div class="container about-page">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div class="reduced-font" [@fadeInOut]>
        <h4>Welcome to SUEZ CANAL BANK</h4>
        <p>This application template provides a quick and convenient way to create ASP.NET Core 5.0 / Angular 11 applications</p>

    	<h6>Visit our website <a href="https://ebanking.scbank.com.eg/SIT2INDEX.itm" target="_blank">Ebanking</a> </h6>



    </div>
</div>
